

<div id="sidebar" [ngClass]="{'tactive': collapse === false, 'tcollapsed' : collapse === true}">
    <div id="tasks">
        <div style="height: 30px;">
            <button (click)="toggleSidebar()" id="toggleSidebarbtn" class="toggleSidebarbtncollapsed"><mat-icon> menu </mat-icon>&nbsp;</button>
        </div>
        <button onclick="addTask()" type="button" id="addtask" [ngClass]="{'task-adder': collapse === false, 'task-adder-shrink' : collapse === true}">+</button>
        <div>
            <div mat-menu-item *ngFor="let i of orders"  class="with-icon padded" (click)="$event.stopPropagation()" class="item">
                <div (click)="updateFocusItems(i.id)" id="addtask" [ngClass]="{'task': collapse === false, 'task-shrink' : collapse === true}">
                    <mat-icon [matTooltip]="i.id" class="icon"> restaurant </mat-icon>&nbsp;
                    <div [ngClass]="{'show':collapse===false, 'hide':collapse===true}" >{{ i.id }}</div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<app-order-details [order]="focusOrder" [collapsed]="collapse"></app-order-details>