<div id="main" [ngClass]="{'mainshrinked':collapsed===false, 'mainexpanded':collapsed===true}" >
    <div (click)="logOrder()">

        <div class="head">
            <h1>{{order.id}}</h1>
            <h1>{{order.customerName}}</h1>
        </div>

        <div>
            <div mat-menu-item *ngFor="let i of order.items"  class="with-icon padded" (click)="$event.stopPropagation()" class="item">

            <div class="subtask">{{ i.description }}</div>

            </div>
        </div>
    </div>
</div>